################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SerializerSpeedTest/DesignTimeBuild
/.vs/SerializerSpeedTest/v16
/SerializerSpeedTest.Entities/bin/Debug/netstandard2.0
/SerializerSpeedTest.Entities/obj
/SerializerSpeedTest.Newtonsoft/bin/Debug/netcoreapp3.1
/SerializerSpeedTest.Newtonsoft/obj
/SerializerSpeedTest.SystemJson/bin/Debug/netcoreapp3.1
/SerializerSpeedTest.SystemJson/obj/Debug/netcoreapp3.1
/SerializerSpeedTest.SystemJson/obj
/.vs
